@model IEnumerable<TestInventoryMgmtSystem.ViewModels.Registrations.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    #custtable tbody tr {
        cursor: pointer;
        color: cornflowerblue;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="custtable" class="display cell-border compact">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellphoneNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model) {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.CellphoneNr)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        </tr>
        }*@

    </tbody>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.11/css/jquery.dataTables.css" />

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.11/js/jquery.dataTables.js"></script>
    <script>
        $(function () {
            var table = $('#custtable').DataTable({
                "ajax": {
                    "url": "/Admin/LoadAllRegistrations",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "id" },
                    { "data": "firstName" },
                    { "data": "lastName" },
                    { "data": "email" },
                    { "data": "cellphoneNr" },
                    { "data": "role" }

                ],
                "columnDefs": [
                    { "width": "1", "targets": 0 },

                ],
                "fixedColumns":true
            });

            $('#custtable tbody').one('click', 'tr', function (e) {
                e.preventDefault();
                // deze var id = $("td:first", this).text(); vervangen door:
                var id = table.row(this).data().id;
                if ($(e.target).is("a.del")) {
                    $.get('@Url.Action("Delete", "Admin")', { id: id }, function (data) {
                        $("body").html(data);
                    });
                    return;
                }
                $.get('@Url.Action("Edit", "Admin")' + '/' + id, function (data) {
                    $("body").html(data);
                })

            });
        });

    </script>
}
