@model IEnumerable<TestInventoryMgmtSystem.ViewModels.ProductLocationStock.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    #custtable tbody tr {
        cursor: pointer;
        color: crimson;
        font-weight: bold;
    }
</style>

<h1>Index Stock</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="custtable" class="display cell-border compact">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @*
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationStock.NameLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    *@
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.11/css/jquery.dataTables.css" />

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.11/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#custtable').DataTable({
                "ajax": {
                    "url": "/ProductLocationStocks/LoadAllStocks",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "productNr" },
                    { "data": "locationName" },
                    { "data": "totalInStock" },
                    { "data": null, "defaultContent": "<a href='' class='del'>Delete</a>" }
                ]
            });

            $('#custtable tbody').on('click', 'tr', function (e) {
                e.preventDefault();
                var id = $("td:first", this).text();
                if ($(e.target).is("a.del")) {
                    $.get('@Url.Action("Delete", "ProductLocationStocks")', { id: id }, function (data) {
                        $("body").html(data);
                    });
                    return;
                }
                $.get('@Url.Action("Edit", "ProductLocationStocks")', { id: id }, function (data) {
                    $("body").html(data);
                });
            });
        });
    </script>
}